*.jpg
*.jpeg
*.png
*.gif
*.ico
*.pyc
*.psd
*.sqlite3
*.db
*.log
*.pdf
*.xml
*.svg
node_modules
settings.py
.DS_Store
/.sass-cache
application/static/.sass-cache/*
/env/*
/build/*
/node_modules/*
public_html
public
migrations/*
secret.json
/assets/style.min.css
/assets/main.min.js
/assets/css/style.css
/assets/modernizr.min.js