// http://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28top\%2C\%20rgba\%2833\%2C33\%2C33\%2C1\%29\%200\%25\%2C\%20rgba\%2833\%2C33\%2C33\%2C0\%29\%20100\%25\%29\%3B'
//   background: linear-gradient(to bottom, rgba(33,33,33,1) -70%, rgba(33,33,33,0) 100%);

body,html{
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	overflow-x: hidden;
	background-color: $backgroundcolour;
	line-height: 1.7em;
	font-size: 1.03em;
	letter-spacing: 0.035em;
}
// .noscroll{
// 	height: 100vh;
// 	overflow: hidden;
// }

ul,li,p,h1,h2,h3,h4,h5,blockquote{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 1em;
	text-decoration: none;
	text-transform: none;
	text-align: left;
	font-weight: normal;
}

p {
	text-align: left;
}
#wrapper{
	width: 100%;
	position: relative;
	padding-top: 100px;
}

h2{
	color: $blue;
	text-transform: uppercase;
	padding-bottom: 2em;
}

blockquote{
	color: $blue;
	font-size: 2.3em;
	line-height: 1.2em;
}


.black {
	color: $black;
}
.yellow{
	color: $yellow;
}
.organge{
	color: $organge;
}
.middle{
	text-align: center;
}

.crossline{
	position: relative;
	display: block;
	&::before,&::after{
		content: " ";
		border-top: 1px solid $blue;
		width: 3em;
		display: block;
		position: absolute;

		@include vendorize(transform,rotate(-45deg));
		@include at-query ($max, $inbetween) {
			@include vendorize(transform,rotate(-35deg));
		}

	}
	&::before{
		left: 100%;
		top: 0%;
		@include vendorize(transform-origin,0 0);
	}
	&::after{
		right: 100%;
		bottom: 0%;
		@include vendorize(transform-origin,100% 100%);
	}
}

.social-colour{
	fill: $organge;
	stroke: $organge;
}
.social-colour-1{
	fill: $darkOrgange;
	stroke: $darkOrgange;
}