
#index{

	height: 500px;
	height: 90vh;

	.table{
		display: table;
		height: 100%;
		width: 100%;
		margin-top: -100px;
		background-image: url("Untitled-1.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		> div{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			h1{
				text-align: center;
				color: $white;
				font-size: 5em;
			}
		}
		span{
			display: inline-block;
		}
	}
}