#about{
	position: relative;
	&::before{
		content: " ";
		width: 120%;
		left: -10%;
		background-color: $backgroundcolour;
		position: absolute;
		height: 150px;
		display: block;
		z-index: 1;
		@include vendorize(transform-origin,0);
		@include vendorize(transform,rotate(-4deg));
	}

	.contain{
		position: relative;
		z-index: 2;
		margin-bottom: 6em;
	}

	.left,.right{
		width: 50%;
		vertical-align: top;
		display: inline-block;
		padding: 5em 0;
		@include at-query ($max, $inbetween) {
			width: 90%;
			margin: 0 auto;
			display: block;
		}		
	}

	.left{
		p{
			@include at-query ($min, $large) {
				width: 90%;
			}
		}
	}

	.right{
		height: 100%;
		top: 0;
		right: 0;
		padding: 0;
		position: absolute;
		@include at-query ($max, $inbetween) {
			position: relative;
			padding: 0 0 5em 0;
		}
	}
	.table{
		height: 100%;
		display: table;
		width: 80%;
		margin: 0 auto;
		@include at-query ($max, $medium) {
			display: block;
		}
	}
	blockquote{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-size: $bigfont;
		line-height: $bigfontline;
		@include at-query ($max, $medium) {
			display: block;
			font-size: 1.5em;
			line-height: $bigfontline;
		}
		>span{
			max-width: 400px;
			margin: 0 auto;
		}
	}
	

	p:last-child{
		padding-top: 1.5em;
		color: $blue;
		a{
			color: $blue;
			text-decoration: none;
			&:hover{
				color: $black;
			}
		}
		// &::before{
		// 	display: block;
		// 	width: 5em;
		// 	//border-top: 1px solid $blue;
		// 	//content: " ";
		// 	padding-bottom: 1.5em;
		// }
	}
	


	ul{
		text-align: center;
		max-width: $indsideWidth*0.8;
		margin: 0 auto;
	}
	li{
		display: inline-block;
		width: 16.66%;
		vertical-align: top;
		min-width: 120px;
		padding-bottom: 2em;
	}
	.img{
		display: block;
		img{
			display: block;
			margin: 0 auto;
		}
		svg{
			max-width: 50%;
			margin: 0 auto;
			display: block;
			// stroke:$blue;
			fill:$blue;
		}
	}
	.text{
		display: block;
		text-align: center;
		line-height: 1.2em;
		padding-top: 0.3em;
	}
	#corevalues p{
		color: inherit;
		&::before{
			content: none;
		}
	}
}