
#process{
	padding-top: 8em;
	.subsection{
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		overflow: hidden;

		// @include vendorize(transform,translateY(50px));


		.shadded{	
			width: 55%;
			@include at-query ($max, $large) {
				width: 100%;
				background-color: rgba(0,0,0,0.5);
			}
			position: relative;
			text-align: right;
			// @include transition(opacity,0.35s,ease-in-out);
			.fit::before{
				content: " ";
				width: 350%;
				height: 350%;
				background-color: rgba(0,0,0,0.7);
				@include at-query ($max, $large) {
					background-color: transparent;
				}
				position: absolute;
				display: block;
				z-index: 1;
				top: 0%;
				right: -65%;
				@include vendorize(transform-origin,100% 0);
				@include vendorize(transform,rotate(21deg));		
			}
		}

		&:nth-child(2n){
			.shadded{
				left: 45%;
				@include at-query ($max, $large) {
					left: 0%;
				}
				text-align: left;
				.contain{
					@include at-query ($max, $large) {
						text-align: left;
						padding-left: 5%;
						padding-right: 0%;
					}
					@include at-query ($max, $inbetween) {
						padding-left: 0%;
					}

					text-align: right;
				}
				.fit::before{
					left: -65%;
					right: none;
					@include vendorize(transform-origin,0 0);
					@include vendorize(transform,rotate(-21deg));	
				}
			}
		}
	}



	.contain{
		position: relative;
		display: inline-block;
		z-index: 3;
		
		max-width: $indsideWidth/2;
		text-align: left;
		@include at-query ($max, $large) {
			text-align: right;
			width: 40%;
			padding-right: 5%;
		}
		@include at-query ($max, $inbetween) {
			width: 90%;
			margin: 0 auto;
			display: block;
			padding-right: 0%;
		}
	}
	.fit{
		padding: 6em 0;
		position: relative;
		width: 70%;
		// min-width: 400px;
		display: inline-block;
		@include at-query ($max, $large) {
			width: 100%;
		}		
	}

	h3{
		color: $white;
		font-size: $bigfont;
		line-height: $bigfontline;
		padding-bottom: 1.1em;
		width: 120%;
		@include at-query ($max, $large) {
			width: 100%;
		}
	}
	p{
		color: $white;
	}
	h2,h3,p{
		position: relative;
		z-index: 4;
	}
}

.touch #process .subsection{
	background-attachment: scroll;
}

#process_discovery{
	background-image:url('/assets/img/02_discovery-huge.jpg');
	@include at-query ($max, $large) {
		background-image:url('/assets/img/02_discovery-large.jpg');
	}
	@include at-query ($max, $medium) {
		background-image:url('/assets/img/02_discovery-medium.jpg');
	}
}
#process_design{
	background-image:url('/assets/img/03_design-huge.jpg');
	@include at-query ($max, $large) {
		background-image:url('/assets/img/03_design-large.jpg');
	}
	@include at-query ($max, $medium) {
		background-image:url('/assets/img/03_design-medium.jpg');
	}
}
#process_reporting{
	background-image:url('/assets/img/04_reporting-huge.jpg');
	@include at-query ($max, $large) {
		background-image:url('/assets/img/04_reporting-large.jpg');
	}
	@include at-query ($max, $medium) {
		background-image:url('/assets/img/04_reporting-medium.jpg');
	}
}
#process_feasibility{
	background-image:url('/assets/img/05_feasibility-huge.jpg');
	@include at-query ($max, $large) {
		background-image:url('/assets/img/05_feasibility-large.jpg');
	}
	@include at-query ($max, $medium) {
		background-image:url('/assets/img/05_feasibility-medium.jpg');
	}
}
#process_constructing{
	background-image:url('/assets/img/06_constructing-huge.jpg');
	@include at-query ($max, $large) {
		background-image:url('/assets/img/06_constructing-large.jpg');
	}
	@include at-query ($max, $medium) {
		background-image:url('/assets/img/06_constructing-medium.jpg');
	}
}
#process_finishing{
	background-image:url('/assets/img/07_finishing-huge.jpg');
	@include at-query ($max, $large) {
		background-image:url('/assets/img/07_finishing-large.jpg');
	}
	@include at-query ($max, $medium) {
		background-image:url('/assets/img/07_finishing-medium.jpg');
	}
}